#box1 {
    width: 100px;
    height: 100px;
    background: green;
    transition: margin-top 2s ease-in 0.5;

    
}
#box1:hover {
    width:600px;
} 
#box2 {
    width: 100px;
    height: 100px;
    background: red;
    transform: translate(200px,200px) rotate(90deg);
}  
#box3 {
    width: 100px;
    height: 100px;
    background: lightblue;
    transform: skewx(20deg);
    
}
#box4 {
    width: 100px;
    height: 100px;
    background: teal;
    box-shadow: 2px 2px 5px green;
}
#myPic {
    width: 200px;
    height: 200px;
    background: coral;
    background-image: url("Siya kumari.jpg");
    background-size: cover;
    opacity:75%;

}
